.title {
    text-align: center;
}

.wrapper {
    margin: 30px;
    height: 100%;
}

.sidebar {
    display: inline-block;
    width: 20%;
}

.sidebar ul {
    padding: 0px;
    margin-bottom: 6px;
    width: 100%;
}

.sidebar ul li {
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style-type: none;
}

.sidebar ul li a {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.team-info {
    display: flex;
    float: right;
    width: 70%;
    height: auto;
    padding: 0px 20px;
}

.team-img {
    width: 100%;
    height: 100%;
}

.article-controls .btn {
    margin-top: 25px;
}

.article-title {
    margin: 0px 0px 20px 0px;
}

.article-description {
    margin-top: 15px;
}

.article-author {
    font-weight: bold;
    font-style: italic;
}

.col-lg-2 {
    text-align: center
}
